@font-face {
    font-family: 'Gotham Medium';
    src: url('Gotham-Book.woff2') format('woff2'),
        url('Gotham-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('Gotham-Medium.woff2') format('woff2'),
        url('Gotham-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Gotham Medium';
    font-size: calc(16px + (18 - 16) * ((100vw - 300px) / (1440 - 300)));
}

.upper h2{
    font-size: 45px;
    margin-bottom: 0px;
    font-weight: 800;
}

.upper p{
    font-size: 14px;
    color: black;
    line-height:5px;
}

p,span,li,a{
    font-family: 'Gotham Book';
}

.logo{
    width: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.section{
    width: 100%;
    height: 100vh;
    
}
#slide1{
    background: url('../image/image1.JPG');
    background-size: cover;
    background-position:center ;
    height: auto;
}

#slide2{
    background: url('../image/image2.JPG');
    background-size: cover;
    background-position:center ;
}

#slide3{
    background: url('../image/image3.JPG');
    background-size: cover;
    background-position:center ;
}

#slide4{
    background: url('../image/image4.JPG');
    background-size: cover;
    background-position:center ;
}

#slide5{
    background: url('../image/image5.JPG');
    background-size: cover;
    background-position:center ;
}

#slide6{
    background: url('../image/image6.JPG');
    background-size: cover;
    background-position:center ;
}


.nav2{
    position: absolute;
    top: 5px;
    right: 20px;
}

.upper{
    padding-top: 110px;
}

.navbar-light .navbar-nav .nav-link{
    color: black;
    margin-left: 3px;
    margin-right: 3px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;
    letter-spacing: 1px;
}

.fp-tableCell {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

  /* 做動畫時 將原本物件先hidden先 */
.upper h2,.upper p{
    opacity: 0;
    visibility: hidden;
}

 /*好似for手機排版*/
@media only screen and (max-width:990px){
    .logo{
        width: 100px;
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .navbar{
        background: white;
    }

    .nav2{
        position: relative ;
        right: auto;
    }
    .upper p{
        font-size: 10px;
        color: black;
        line-height:3px;
    }

    .upper h2{
        position: relative;
        font-size: 20px;
        margin-bottom: 0px;
        font-weight: 800;
    }
    
}
